DATABASE_URL=postgresql://user:password@localhost:5432/urlshortener
SQS_URL=https://sqs.us-east-1.amazonaws.com/123456789012/lks-url-click-events
BASE_URL=http://localhost:3000
PORT=3000

# Batch A only
DYNAMODB_TABLE=lks-url-cache-table
DYNAMODB_REGION=us-east-1

# Batch B only
# REDIS_URL=localhost:6379
